@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1,
h2,
h3,
h4,
p,
button,
a {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

body {
  color: white;
}
body a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
body p {
  font-size: 15px;
}
body h1,
body h3,
body h4 {
  font-size: 32px;
}
body h1,
body h2,
body h3 {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
body .show {
  opacity: 1;
  transform: translateX(0);
}
body h3 {
  display: inline-block;
  border-bottom: 8px solid white;
  padding-bottom: 30px;
}
body .text-about {
  text-align: justify;
}
body button {
  font-size: 15px;
}
@media screen and (min-width: 750px) {
  body p,
  body .text-about {
    font-size: 27px;
  }
  body h1,
  body h3 {
    font-size: 80px;
  }
  body a {
    font-size: 27px;
  }
}

.navigation .hamburger-menu {
  display: block;
  cursor: pointer;
}
.navigation .hamburger-menu .hamburger {
  width: 30px;
  height: 30px;
}
.navigation .hamburger-menu .hamburger.open {
  width: 30px;
  height: 30px;
}
.navigation .mobile-nav {
  /* Par défaut, la liste de navigation mobile est cachée */
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 90px;
  right: 0;
  width: 110px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
.navigation .mobile-nav a {
  margin: 15px 0;
}
.navigation .desktop-nav {
  display: none;
}
@media screen and (min-width: 750px) {
  .navigation .hamburger-menu {
    display: none;
  }
  .navigation .mobile-nav {
    display: none;
  }
  .navigation .desktop-nav {
    display: flex;
  }
  .navigation .desktop-nav a {
    margin: 0 35px;
  }
}

.show-more {
  height: 30px;
  width: 180px;
  border: 1px solid white;
  background-color: #000000;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}
@media screen and (min-width: 750px) {
  .show-more {
    height: 50px;
    width: 250px;
  }
}

.send {
  height: 50px;
  width: 100px;
  background-color: white;
  color: black;
  border-radius: 10px 0;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
}

.navigation .hamburger-menu {
  display: block;
  cursor: pointer;
}
.navigation .hamburger-menu .hamburger {
  width: 30px;
  height: 30px;
}
.navigation .hamburger-menu .hamburger.open {
  width: 30px;
  height: 30px;
}
.navigation .mobile-nav {
  /* Par défaut, la liste de navigation mobile est cachée */
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 90px;
  right: 0;
  width: 110px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
.navigation .mobile-nav a {
  margin: 15px 0;
}
.navigation .desktop-nav {
  display: none;
}
@media screen and (min-width: 750px) {
  .navigation .hamburger-menu {
    display: none;
  }
  .navigation .mobile-nav {
    display: none;
  }
  .navigation .desktop-nav {
    display: flex;
  }
  .navigation .desktop-nav a {
    margin: 0 35px;
  }
}

.form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px 0;
  margin: 80px auto;
  padding: 5%;
  width: 70%;
  display: grid;
  grid-template-areas: "nom" "prenom" "email" "gsm" "message" "bouton";
}
.form input,
.form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  margin: 3%;
  width: 80%;
}
.form label {
  font-size: 18px;
  margin: 3%;
}
.form .nom {
  grid-area: nom;
}
.form .prenom {
  grid-area: prenom;
}
.form .mail {
  grid-area: email;
}
.form .gsm {
  grid-area: gsm;
}
.form .message {
  grid-area: message;
}
.form .bouton {
  grid-area: bouton;
  text-align: center;
  margin-top: 50px;
}
@media screen and (min-width: 750px) {
  .form {
    width: 500px;
    grid-template-areas: "nom prenom" "email gsm" "message message" "bouton bouton";
  }
  .form .message #msg {
    width: 88%;
  }
}

.logo {
  display: flex;
  justify-content: center;
}
.logo .mylogo-header,
.logo .mylogo-footer {
  margin: 0;
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 750px) {
  .logo .mylogo-header,
  .logo .mylogo-footer {
    width: 150px;
    height: 150px;
  }
}

body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

header {
  margin: 0 5%;
  height: 60vh;
  position: relative;
}
header .top {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
header .presentation {
  text-align: center;
  z-index: 2;
  position: relative;
}
header .ordi {
  width: 350px;
  position: absolute;
  right: -25px;
  bottom: -150px;
  z-index: 1;
}
header .button {
  position: absolute;
  bottom: -100px;
  left: 0px;
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 750px) {
  header {
    height: 100%;
  }
  header .presentation {
    width: 60%;
  }
  header .presentation h1 {
    text-align: left;
    padding: 120px 0 40px 200px;
  }
  header .presentation h2 {
    text-align: left;
    padding-left: 200px;
  }
  header .presentation .button {
    padding-top: 80px;
    text-align: left;
  }
  header .ordi {
    width: 900px;
    right: -45px;
    bottom: -350px;
  }
}

main .portfolio h3 {
  margin: 10% 0 5% 5%;
  position: relative;
  z-index: 5;
}
main .portfolio .projects {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  position: relative;
  z-index: 6;
}
main .portfolio .projects .proj {
  width: 100%;
  position: relative;
}
main .portfolio .projects .proj img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 7;
  opacity: 0.5;
}
main .portfolio .projects .proj .text-overlay {
  text-align: center;
  position: relative;
  top: -500px;
  opacity: 1;
}
main .about {
  margin: 5%;
}
main .about h3 {
  margin: 0% 0 5% 0;
}
main .about .description {
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
}
main .about .description a {
  text-decoration: underline;
}
main .about .description .picture-of-me {
  float: right;
  width: 200px;
  margin: 0 0 10px 20px;
}
main .contact {
  margin: 5%;
}
main .contact h3 {
  margin: 10% 0 5% 0;
}
@media screen and (min-width: 750px) {
  main .portfolio {
    height: 100%;
  }
  main .portfolio .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  main .portfolio .projects .proj img {
    opacity: 1;
  }
  main .portfolio .projects .proj .text-overlay {
    text-align: center;
    position: relative;
    top: -700px;
    opacity: 0;
  }
  main .portfolio .projects .proj:hover img {
    opacity: 0.2;
  }
  main .portfolio .projects .proj:hover .text-overlay {
    opacity: 1;
  }
  main .about {
    height: 100%;
  }
  main .about .description .picture-of-me {
    width: 400px;
    margin-left: 60px;
  }
  main .contact {
    height: 100%;
  }
}

footer {
  margin: 10% 5% 35px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .reseaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .reseaux .div-github {
  margin: 0 10px;
}
footer .reseaux .div-github img {
  width: 30px;
}
footer .reseaux .div-linkedIn {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reseaux .div-linkedIn img {
  width: 15px;
}
footer .arrow {
  margin: 0 10px 0 50px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .arrow img {
  width: 15px;
}
@media screen and (min-width: 750px) {
  footer {
    margin: 10% 5% 50px 5%;
  }
  footer .reseaux .div-github img {
    width: 50px;
  }
  footer .reseaux .div-linkedIn {
    margin: 0 20px 0 10px;
    width: 50px;
    height: 50px;
  }
  footer .reseaux .div-linkedIn img {
    width: 30px;
  }
  footer .arrow {
    width: 50px;
    height: 50px;
  }
  footer .arrow img {
    width: 30px;
  }
}/*# sourceMappingURL=style.css.map */