main {
    height: 85vh;
    background-color: #F8F7F4;


    .book {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: "page1 page2";

        .page1 {
            grid-area: page1;
            display: flex;
            flex-direction: column;
            justify-content: center;



            .me {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .page2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}