header {
    margin: 0 5%;
    height: 50vh;
    position: relative;


    .top {
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    .presentation {
        text-align: center;
        z-index: 2;
        position: relative;
    }

    .ordi {
        width: 350px;
        position: absolute;
        right: -25px;
        bottom: -150px;
        z-index: 1;

    }

    .button {
        position: absolute;
        bottom: -100px;
        left: 0px;
        position: relative;
        z-index: 4;
    }

    @media screen and (min-width: 750px) {

        height: 100%;

        .presentation {
            width: 60%;


            h1 {
                text-align: left;
                padding: 120px 0 40px 200px;
            }

            h2 {

                text-align: left;
                padding-left: 200px;
            }

            .button {
                padding-top: 150px;
                text-align: left;
            }
        }

        .ordi {
            width: 900px;
            right: -45px;
            bottom: -350px;
        }


    }

}