main {
    .portfolio {
        h3 {
            margin: 5%;
            position: relative;
            z-index: 5;
        }

        .projects {
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            position: relative;
            z-index: 6;

            .proj {
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover {
                    opacity: 0.2;
                }
            }
        }
    }



    .about {
        margin: 5%;

        .description {
            margin: auto;
            flex-wrap: wrap;
            width: 80%;

            a {
                text-decoration: underline;
            }

            .picture-of-me {
                float: right;
                width: 200px;
                margin-left: 20px;
            }
        }

    }

    .contact {
        margin: 5%;
    }



    @media screen and (min-width: 750px) {
        .portfolio {
            height: 100vh;

            .projects {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }

        .about {
            height: 100vh;

            .description {

                .picture-of-me {
                    width: 400px;
                    margin-left: 60px;
                }
            }
        }

        .contact {
            height: 100vh;
        }
    }

}