.show-more {
    height: 30px;
    width: 150px;
    border: 1px solid white;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    font-weight: 100;

    @media screen and (min-width: 750px) {
        height: 50px;
        width: 250px;
    }
}

.send {
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 10px 0;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}