.navigation {
    .hamburger-menu {
        display: block;
        cursor: pointer;

        .hamburger {
            width: 30px;
            height: 30px;
        }
    }

    .mobile-nav {
        /* Par défaut, la liste de navigation mobile est cachée */
        display: none;
        position: fixed;
        flex-direction: column;
        background-color: rgba(0, 0, 0);
        position: absolute;
        top: 52px;
        right: 0;
        width: 110px;
        padding: 20px;
        box-sizing: border-box;
        z-index: 2;

        a {

            margin: 15px 0;
        }
    }

    .desktop-nav {
        display: none;
    }

    @media screen and (min-width: 750px) {
        .hamburger-menu {
            display: none;
        }

        .mobile-nav {
            display: none;
        }

        .desktop-nav {
            display: flex;

            a {
                margin: 0 35px;
            }
        }
    }


}